//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

// Bootstrap variables
// $primary: #4186e0;

$primary: #2E5F73;
$dropdown-link-hover-color: $primary;
$dropdown-link-hover-bg: rgba($primary, 0.12);

