@import '@core/scss/angular/libs/datatables.component.scss';
@import '@core/scss/base/pages/app-user.scss';
@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/angular/libs/sweet-alerts.component.scss';

::ng-deep .ngx-datatable .datatable-body-cell .datatable-body-cell-label{
  white-space: normal !important;
  line-height: 1.25;
}

.po-wrap-cell{
  white-space: normal;
  word-break: break-word;
  overflow-wrap: anywhere;
}

