<div class="content-wrapper p-0">
    <div class="content-body">
        <!-- User List -->
        <section class="users-list-wrapper">
            <div class="card">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <h4 class="card-text" style="margin-left: 0.85rem; margin-top: 0.75rem;font-size: 1.25rem;font-weight: 600; color: #2E5F73;">Debit Note List</h4>
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <label class="d-flex align-items-center">Show
                                <select class="form-control mx-25" [(ngModel)]="selectedOption">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entries
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">

                            <label class="d-flex align-items-center ml-1 ml-md-0">Search:<input
                                    [(ngModel)]="searchValue" name="searchValue" type="search"
                                    class="form-control ml-25" (keyup)="filterUpdate($event)"
                                    (search)="filterUpdate($event)" /></label>
                            <button id="Add" class="btn  m-1" (click)="openCreate()" style="background-color: #2E5F73; color: white;"
                                rippleEffect>
                                <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i><span
                                    class="d-none d-sm-inline-block">Add</span>
                            </button>

                        </div>
                    </div>
                </div>
                <ngx-datatable class="bootstrap core-bootstrap" [rows]="rows" [rowHeight]="50" [headerHeight]="50"
                    [footerHeight]="50" [limit]="selectedOption" [columnMode]="'force'" [scrollbarH]="true"
                    [reorderable]="true">

                     <!-- Expand/Collapse + FadeIn Column -->
                    <ngx-datatable-column
                    [width]="50"
                    [resizeable]="false"
                    [sortable]="false"
                    [draggable]="false"
                    [canAutoResize]="false">
                    <ng-template ngx-datatable-cell-template let-row="row">
                        <span (click)="openLinesModal(row)"
                        title="View Details"
                        style="cursor:pointer; font-size:18px; color:#2E5F73;">
                    <i class="fas fa-eye"></i>
                    </span>

                    </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="DebitNote No" prop="debitNoteNo" [width]="120"></ngx-datatable-column>


                    <ngx-datatable-column name="Supplier" prop="supplierName" [width]="140"></ngx-datatable-column>

                    <ngx-datatable-column name="Reason" prop="reason" [width]="140"></ngx-datatable-column>
                    
                    <ngx-datatable-column name="Date" prop="poDate" [width]="120">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.poDate | date:'dd-MM-yyyy' }}
                        </ng-template>
                    </ngx-datatable-column>

                   

                    <!-- Edit/Delete Actions -->
                    <ngx-datatable-column name="Action" [width]="120">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <i class="fas fa-pen text-success mr-2" style="cursor: pointer;"
                                (click)="editDetails(row)"></i>
                            <i class="fas fa-trash text-danger" style="cursor: pointer;"
                                (click)="deleteDetails(row.id)"></i>
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>

            </div>
        </section>
    </div>
   
</div>


