<div class="content-wrapper p-0">
  <div class="content-body">
    <!-- User List -->
    <section class="users-list-wrapper">
      <div class="card">
        <div class="row">
          <div class="col-md-6 col-12" >
            <h4 class="card-text" style="margin-left: 0.85rem; margin-top: 0.75rem;" >PR List</h4>
            <div class="d-flex justify-content-between align-items-center m-1" >
             <label class="d-flex align-items-center">Show
                <select class="form-control mx-25">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                entries
            </label>
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end" >
            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
             
              <label class="d-flex align-items-center ml-1 ml-md-0">Search:<input [(ngModel)]="searchValue"
                  name="searchValue" type="search" class="form-control ml-25" (keyup)="filterUpdate($event)"
                  (search)="filterUpdate($event)" /></label>
              <button  id="Add" class="btn btn-primary m-1" rippleEffect>
                <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i><span
                  class="d-none d-sm-inline-block">Add</span>
              </button>

            </div>
          </div>
        </div>
 <ngx-datatable
  class="bootstrap core-bootstrap"
  [rows]="rows"
  [rowHeight]="50"
  [headerHeight]="50"
  [footerHeight]="50"
  [limit]="selectedOption"
  [columnMode]="'force'"
  [scrollbarH]="true"
  [reorderable]="true">

  <!-- Row Detail Template -->
  <ngx-datatable-row-detail [rowHeight]="50">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
      <div class="ml-75 pl-5 pt-75">
        <div>
          <span><strong>City : </strong> {{ row.city }}</span>
          <span class="ml-1"><strong>Experience : </strong> {{ row.experience }}</span>
        </div>
      </div>
    </ng-template>
  </ngx-datatable-row-detail>

  <!-- Expand/Collapse + FadeIn Column -->
  <ngx-datatable-column
    [width]="50"
    [resizeable]="false"
    [sortable]="false"
    [draggable]="false"
    [canAutoResize]="false">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      <a 
         class="text-body"
         [class.datatable-icon-right]="!expanded"
         [class.datatable-icon-down]="expanded"
         title="Expand/Collapse Row"
         (click)="onRowExpandClick(row)">
      </a>

      <!-- SweetAlert Fade In -->
      <swal #SweetAlertFadeIn
            title="FadeIn Animation"
            [showClass]="{ popup: 'animate__animated animate__fadeIn' }"
            [hideClass]="{ popup: 'animate__animated animate__fadeOut' }"
            [swalOptions]="{ confirmButtonClass: 'btn btn-primary' }">
      </swal>
    </ng-template>
  </ngx-datatable-column>

  <!-- Purchase Request Number -->
  <ngx-datatable-column name="Purchase Order Number" prop="purchaseRequestNo" [width]="220"></ngx-datatable-column>

  <!-- Requester -->
  <ngx-datatable-column name="Requester" prop="requester" [width]="180"></ngx-datatable-column>

  <!-- Department -->
  <ngx-datatable-column name="Department" prop="departmentName" [width]="180"></ngx-datatable-column>

  <!-- Delivery Date -->
  <ngx-datatable-column name="Delivery Date" prop="deliveryDate" [width]="160">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.deliveryDate | date:'dd-MM-yyyy' }}
    </ng-template>
  </ngx-datatable-column>

  <!-- Description -->
  <ngx-datatable-column name="Description" prop="description" [width]="150">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.description || '-' }}
    </ng-template>
  </ngx-datatable-column>

  <!-- Status -->
  <ngx-datatable-column name="Status" prop="isActive" [width]="200">
    <ng-template let-isActive="value" let-row="row" ngx-datatable-cell-template>
      <div class="badge badge-pill text-center" 
           [ngClass]="{
             'badge-light-danger': !isActive,
             'badge-light-success': isActive
           }"
           style="cursor: pointer;">
        {{ isActive ? 'Active' : 'InActive' }}
      </div>
    </ng-template>
  </ngx-datatable-column>

  <!-- Edit/Delete Actions -->
  <ngx-datatable-column name="Action" [width]="150">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <i class="fas fa-pen text-success mr-2" style="cursor: pointer;" (click)="editRequest(row.id)"></i>
      <i class="fas fa-trash text-danger" style="cursor: pointer;" (click)="deleteRequest(row.id)"></i>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>

      </div>
    </section>
   </div>
</div>

<!--Add Certificate Sidebar -->
<!-- <core-sidebar class="modal modal-slide-in sidebar-todo-modal fade" name="app-organization-add"
  overlayClass="modal-backdrop">
  <app-organization-add (addOrganizationChange)="listenForChildChange($event)"
    [isAdditionalFieldAdded]="isAdditionalFieldAdded"></app-organization-add>
</core-sidebar> -->
<!--Add Certificate Sidebar -->