   <!-- <div class="container p-3">
      <h5>Sales Order {{hdr?.salesOrderNo}} — {{hdr?.customerName}}</h5>
      <div class="text-muted mb-3">
        SO Date: {{hdr?.requestedDate | date:'dd-MM-yyyy'}} ·
        Delivery: {{hdr?.deliveryDate | date:'dd-MM-yyyy'}}
      </div>

      <table class="table table-sm">
        <thead>
          <tr>
            <th>Item</th><th>Warehouse</th><th>Supplier</th><th>Bin</th><th class="text-end">Qty</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of lines">
            <td>{{r.itemName}}</td>
            <td>{{r.warehouseName}}</td>
            <td>{{r.supplierName}}</td>
            <td>{{r.bin}}</td>
            <td class="text-end">{{r.quantity}}</td>
          </tr>
        </tbody>
      </table>
    </div> -->
