<div class="col-sm-12 col-xs-12 col-lg-6 col-md-6 ">
        <div class="card ">
            <div class="card-header">
                <h4 class="card-title">Change Password</h4>
            </div>
            <div class="card-body">
                <form class="form" #addForm="ngForm">
                    <div class="form-group">
                        <label for="first-name-column">Current Password<span style="color: red;">*</span></label>
                        <input type="text"  class="form-control" placeholder="Old Password"
                          name="currentPassword"   [(ngModel)]="currentPassword" [maxlength]="50" required />

                    </div>
                    <div class="form-group">
                        <label for="description">New Password<span style="color: red;">*</span></label>
                        <input type="text"  class="form-control" placeholder="New Password"
                          name="newPassword"    [(ngModel)]="newPassword" [maxlength]="50" required 
                           minlength="6" #newPasswordCtrl="ngModel"
                          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$"/>
                          
                        <div
                            *ngIf="newPasswordCtrl.touched && newPasswordCtrl.errors?.['pattern']"
                            class="mt-2 text-end"
                            style="color: red;font-size: 12px"
                        >
                            Password must include uppercase, lowercase, number, and special character.
                        </div>

                        <!-- Min length error -->
                        <div
                            *ngIf="newPasswordCtrl.touched && newPasswordCtrl.errors?.['minlength']"
                            class="mt-2 text-end"
                            style="color: red;font-size: 12px"
                        >
                            Password must be at least 6 characters.
                        </div>
                    </div>
                     <div class="form-group">
                        <label for="description">Confirm New Password<span style="color: red;">*</span></label>
                        <input type="text"  class="form-control" placeholder="Confirm New Password"
                          name="confirmNewPassword"  [(ngModel)]="confirmNewPassword" [maxlength]="50" #confirmPasswordCtrl="ngModel" required />
                    <div
                        *ngIf="confirmPasswordCtrl.touched && confirmNewPassword !== newPassword"
                        class="mt-2 text-end"
                        style="color: red;font-size: 12px"
                    >
                        New Password and Confirm New Password do not match.
                    </div>      
                    </div>
                    <div class="row justify-content-start p-1">
                        <button type="submit" rippleEffect class="btn mr-1" 
                            (click)="onSubmit(addForm)"
                            style="background-color: #2E5F73;color: white;padding: 6px 14px; font-size: 0.9rem; border-radius: 4px;">
                            Submit
                        </button>

                        <button type="button" rippleEffect class="btn btn-danger mr-1" (click)="cancel()"
                            style="padding: 6px 14px; font-size: 0.9rem; border-radius: 4px;">
                            Cancel
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
