<div class="content-wrapper p-0">
  <div class="content-body">
    <!-- User List -->
    <section class="users-list-wrapper">
      <div class="card">
        <div class="row">
          <div class="col-md-6 col-12" >
            <h4 class="card-text" style="margin-left: 0.85rem; margin-top: 0.75rem;font-size: 1.25rem; font-weight: 600; color: #2E5F73;" >Item List</h4>
            <div class="d-flex justify-content-between align-items-center m-1" >
             <label class="d-flex align-items-center">Show
                <select class="form-control mx-25">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                entries
            </label>
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end" >
            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
             
              <label class="d-flex align-items-center ml-1 ml-md-0">Search:<input [(ngModel)]="searchValue"
                  name="searchValue" type="search" class="form-control ml-25" (keyup)="filterUpdate($event)"
                  (search)="filterUpdate($event)" /></label>
             <button
  id="Add"
  class="btn m-1"
  style="background-color: #2E5F73; color: white;"
  rippleEffect
  (click)="openCreate()"
>
  <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i>
  <span class="d-none d-sm-inline-block">Add</span>
</button>


            </div>
          </div>
        </div>
 <ngx-datatable
  class="bootstrap core-bootstrap items-table"
  [rows]="rows"
  [rowHeight]="50"
  [headerHeight]="50"
  [footerHeight]="50"
  [limit]="selectedOption"
  [columnMode]="'force'"
 [scrollbarH]="false"
  [reorderable]="true">



  <!-- Purchase Request Number -->
  <ngx-datatable-column name="Item Code" prop="itemCode" [width]="100"></ngx-datatable-column>

  <!-- Requester -->
  <ngx-datatable-column name="Item Name" prop="itemName" [width]="150"></ngx-datatable-column>

  <!-- Department -->
  <ngx-datatable-column name="UOM" prop="uomName" [width]="50"></ngx-datatable-column>
<ngx-datatable-column name="Budget Line" prop="budgetLineName" [width]="180"></ngx-datatable-column>

  <!-- <ngx-datatable-column name="Status" prop="isActive" [width]="50">
    <ng-template let-isActive="value" let-row="row" ngx-datatable-cell-template>
      <div class="badge badge-pill text-center" 
           [ngClass]="{
             'badge-light-danger': !isActive,
             'badge-light-success': isActive
           }"
           style="cursor: pointer;">
        {{ isActive ? 'Active' : 'InActive' }}
      </div>
    </ng-template>
  </ngx-datatable-column> -->

  <!-- Edit/Delete Actions -->
  <ngx-datatable-column name="Action" [width]="60">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <i class="fas fa-pen text-success mr-2" style="cursor: pointer;" (click)="editRequest(row.id)"></i>
      <i class="fas fa-trash text-danger" style="cursor: pointer;" (click)="deleteRequest(row.id)"></i>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>

      </div>
    </section>
   </div>
   <core-sidebar
  class="modal modal-slide-in sidebar-todo-modal fade"
  name="app-createitemsidebar"
  overlayClass="modal-backdrop"
>
  <app-createitemsidebar
    [editId]="selectedItemId"
    (saved)="loadItem()"
  ></app-createitemsidebar>
</core-sidebar>

</div>