<section id="location-list">
  <h4 class="card-title">Suppliers List</h4>

  <div class="row">
    <!-- Page size -->
    <div class="col-md-6 col-12">
      <div class="d-flex align-items-center m-1">
        <label class="d-flex align-items-center mb-0">
          Show
          <select class="form-control mx-25" [(ngModel)]="pageSize">
            <option [ngValue]="10">10</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="100">100</option>
          </select>
          entries
        </label>
      </div>
    </div>

    <!-- Search + Add -->
    <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
      <div class="d-flex align-items-center justify-content-end pr-2 pb-1 pb-md-0">
        <label class="d-flex align-items-center mb-0">
          Search:
          <input
            [(ngModel)]="searchValue"
            name="searchValue"
            type="search"
            class="form-control ml-25"
            (keyup)="filterUpdate()"
            (search)="filterUpdate()" />
        </label>

        <button class="btn btn-primary m-1" (click)="addSupplier()">
          <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i>
          <span class="d-none d-sm-inline-block">Add</span>
        </button>
      </div>
    </div>
  </div>

 <ngx-datatable
  class="bootstrap core-bootstrap"
  [rows]="rows"
  [rowHeight]="58"
  [limit]="pageSize"
  [columnMode]="ColumnMode.force"
  [headerHeight]="40"
  [footerHeight]="50"
  [scrollbarH]="true"
>
  <!-- Basic info -->
  <ngx-datatable-column name="Name" prop="name" [width]="220"></ngx-datatable-column>
  <ngx-datatable-column name="Code" prop="code" [width]="140"></ngx-datatable-column>
  <ngx-datatable-column name="Contact Person" prop="contact" [width]="200"></ngx-datatable-column>
  <ngx-datatable-column name="Email" prop="email" [width]="220"></ngx-datatable-column>
  <ngx-datatable-column name="Phone" prop="phone" [width]="160"></ngx-datatable-column>


 <ngx-datatable-column name="Status" [width]="120">
  <ng-template let-row="row" ngx-datatable-cell-template>
    <span
      class="badge"
      [ngClass]="{
        'badge-success': row.statusId === 1,
        'badge-danger': row.statusId === 2,
        'badge-warning': row.statusId === 3
      }"
    >
      {{ row.statusId === 1 ? 'Active' : row.statusId === 2 ? 'Inactive' : 'On Hold' }}
    </span>
  </ng-template>
</ngx-datatable-column>


  <!-- Actions -->
  <ngx-datatable-column name="Actions" [width]="100" [sortable]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div class="d-flex align-items-center">
        <i class="fas fa-pen text-success mr-2" style="cursor:pointer" (click)="edit(row.id)"></i>
        <i class="fas fa-trash text-danger" style="cursor:pointer" (click)="deleteSupplier(row.id)"></i>
      </div>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

</section>
